﻿@model Pci.CvBuilder.Entity.Skill
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("Create", "Skill",
    new AjaxOptions
    {
        UpdateTargetId = "DetailDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{

    <div id="DetailDiv"></div>

    <div class="editor-label">Skill Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.SkillName, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("SkillName")
    </div>

    <div class="editor-label">Grade</div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.Grade)
                                .HtmlAttributes(new { style = "width:200px" })
                        .BindTo(new List<string>()
                        {
                            "Beginner",
                            "Intermediate",
                            "Advance"
                        })
                        .SelectedIndex(0)
        )
    </div>


    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Create" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Save</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });

        $('#DetailForm').validate({
            rules: {
                SkillName: {
                    required: true,
                },
                Grade: {
                    required: true
                }
            }

        });
        $("#SkillName").focusout(function () {
            $('#DetailForm').validate().element("#SkillName");
        });
        $("#Grade").focusout(function () {
            $('#DetailForm').validate().element("#Grade");
        });
    });

    function onDetailBegin() {
        //  $("#DetailDiv").showSpinner(true);
    }

    function onDetailResult(result) {
        if (result.success) {
            alert("Data Created Successfully");
            $("#window").data("kendoWindow").close();
            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
        } else {
            alert(result.error);
        }
    }

    function onDetailFailure(error) {
        //  $("#DetailDiv").showSpinner(false);
    }
</script>


