﻿@model Pci.CvBuilder.Entity.Skill
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("View", "Skill",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Skill Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.SkillName, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessageFor(model => model.SkillName)
    </div>

    <div class="editor-label">Grade</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Grade, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Grade)
    </div>
    @Html.HiddenFor(model => model.Id)
}
