﻿@model Pci.CvBuilder.UI.Models.ChangesPasswordModel
@{
    ViewBag.Title = "Changes Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<center>
    @Html.ValidationSummary(true, "Changes password was unsuccessful. Please correct the errors and try again.")
</center>

@using (Html.BeginForm())
{
    <div id="wrapper">
        @*<img src="~/Content/Images/logo praweda.png" alt="Praweda" width="500">*@
        @*<h1>THE LOGO</h1>*@
        @*<h2>A cool headline.</h2>*@
        <br />
        <form>
            @*<input type="radio" id="login" name="action" value="login" checked>
            <input type="radio" id="register" name="action" value="register">
            <input type="radio" id="reset" name="action" value="reset">*@
            <div id="inputs">
                <div>
                    @Html.PasswordFor(m => m.OldPassword, (object)new { autocomplete = "off", placeholder = "Old Password" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                    <div>
                        @Html.PasswordFor(m => m.NewPassword, (object)new { autocomplete = "off", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                           
                            <div>
                                @Html.PasswordFor(m => m.ConfirmPassword, (object)new { autocomplete = "off", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                <input type="submit" value="ChangesPassword">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
