﻿@using Pci.CvBuilder.UI.Models
@model LoginAccountModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<center>
    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
</center>

@using (Html.BeginForm())
{
  
    <div id="wrapper">
        <br />
        <img src="~/Content/Images/logo praweda.png" alt="Praweda" width="500">
        @*<h2>A cool headline.</h2>*@
        <br />
        <form>
            <input type="radio" id="login" name="action" value="login" checked>
            <input type="radio" id="register" name="action" value="register">
            <input type="radio" id="reset" name="action" value="reset">
            <div id="inputs">
                <div>
                    @Html.TextBoxFor(m => m.UserId, (object)new { autocomplete = "off", placeholder="User ID" })
                    @Html.ValidationMessageFor(m => m.UserId)
                    <div>
                        @Html.PasswordFor(m => m.Password, (object)new { autocomplete = "off", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)

                        <input type="submit" id="loginData" value="Login">
                        @*<div>
                            <input type="password" placeholder="repeat password">
                            <input type="submit" value="reset password">
                            <div>
                                <input type="submit" value="register">
                                <input type="submit" value="Login">
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<script type="text/javascript">
    $("#loginData").submit(function () {
        $(this).validate();
        if (!$(this).valid()) { return false; }
    });
</script>