﻿@model Pci.CvBuilder.Entity.Experience
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("Create", "Experience",
    new AjaxOptions
    {
        UpdateTargetId = "DetailDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    
    <div id="DetailDiv"></div>

    <div class="editor-label">Company</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Company, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Company")
    </div>

    <div class="editor-label">Job Tittle</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.JobTitle, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("JobTitle")
    </div>

    <div class="editor-label">Job Description</div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.JobDescription, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("JobDescription")
    </div>

    <div class="editor-label">Start Date</div>
    <div class="editor-field">
        @(Html.Kendo().DatePickerFor(model => model.StartDate)
        .Name("StartDate")
        .Value(DateTime.Today)
        .HtmlAttributes(new { style = "width: 93%" })
        )
    </div>

    <div class="editor-label">End Date</div>
    <div class="editor-field">
        @(Html.Kendo().DatePickerFor(model => model.EndDate)
        .Name("EndDate")
        .Value(DateTime.Today)
        .HtmlAttributes(new { style = "width: 93%" })
        )
    </div>

    <div class="editor-label">Still Working</div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(model => model.StillWorking)
                                .HtmlAttributes(new { style = "width:200px" })
                        //.Name("authStatus")
                        .BindTo(new List<string>()
                        {
                            "No",
                            "Yes"
                        })
                        .SelectedIndex(0)
            )
    </div>

    <div class="editor-label">Salary</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Salary, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox"})
        @Html.ValidationMessage("Salary")
    </div>


    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Create" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Save</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });

        $("#Salary").kendoNumericTextBox({
            decimals: 2
        });

        $('#DetailForm').validate({
            rules: {
                Company: {
                    required: true,
                },
                JobTitle: {
                    required: true
                },
                JobDescription: {
                    required: true,
                },
                StartDate: {
                    required: true,
                },
                EndDate: {
                    required: true
                },
                StillWorking: {
                    required: true,
                }
            }

        });
        $("#Company").focusout(function () {
            $('#DetailForm').validate().element("#Company");
        });
        $("#JobTitle").focusout(function () {
            $('#DetailForm').validate().element("#JobTitle");
        });
        $("#JobDescription").focusout(function () {
            $('#DetailForm').validate().element("#JobDescription");
        });
        $("#StartDate").focusout(function () {
            $('#DetailForm').validate().element("#StartDate");
        });
        $("#EndDate").focusout(function () {
            $('#DetailForm').validate().element("#EndDate");
        });
        $("#StillWorking").focusout(function () {
            $('#DetailForm').validate().element("#StillWorking");
        });
        $("#Salary").focusout(function () {
            $('#DetailForm').validate().element("#Salary");
        });
    });

    function onDetailBegin() {
        //  $("#DetailDiv").showSpinner(true);
    }

    function onDetailResult(result) {
        if (result.success) {
            alert("Data Created Successfully");
            $("#window").data("kendoWindow").close();
            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
        } else {
            alert(result.error);
        }
    }

    function onDetailFailure(error) {
        //  $("#DetailDiv").showSpinner(false);
    }
</script>