﻿@model Pci.CvBuilder.Entity.Experience
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("View", "Experience",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Company</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Company, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessageFor(model => model.Company)
    </div>

    <div class="editor-label">Job Title</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.JobTitle, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.JobTitle)
    </div>

    <div class="editor-label">Job Description</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.JobDescription, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.JobDescription)
    </div>

    <div class="editor-label">Start Date</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.StartDate, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.StartDate)
    </div>

    <div class="editor-label">EndDate</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EndDate, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.EndDate)
    </div>

    <div class="editor-label">Still Working</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.StillWorking, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.StillWorking)
    </div>

    <div class="editor-label">Salary</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Salary, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Salary)
    </div>
    @Html.HiddenFor(model => model.Id)
}
