﻿@model IEnumerable<Pci.CvBuilder.Entity.Education>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="captionForm">Education</h3>
@(Html.Kendo().Window()
        .Name("window")
        .Title("Education")
        .Modal(true)
        .Width(400)
        .Actions(actions => actions.Maximize().Close())
        .Visible(false)
        .Draggable(true)
)

@(Html.Kendo().Grid(Model)
    .Name("Grid")
        .HtmlAttributes(new { Style = "height:460px" })
    .Columns(columns =>
    {
        columns.Bound(p => p.Institution).Width(150);
        columns.Bound(p => p.Degree).Width(150);
        columns.Bound(p => p.Major).Width(150);
        columns.Bound(p => p.Focus).Width(150);
        columns.Bound(p => p.StartDate).Width(150).Format("{0:dd/MM/yyyy}");
        columns.Bound(p => p.EndDate).Width(150).Format("{0:dd/MM/yyyy}");
        columns.Bound(p => p.Grade).Width(150);

        columns.Command(command =>
        {
            command.Custom("viewDetails").Click("viewDetails").Text("View");
            command.Custom("updateDetails").Click("updateDetails").Text("Edit");
            command.Custom("deleteDetails").Click("deleteDetails").Text("Delete");
        }).Width(300);
    })
    .ToolBar(toolbar =>
            {
                toolbar.Template(
                    @<text>
                        <button id="Add_Education" type="button" value="AddUser" class='k-button k-button-icontext'>Add</button>
                    </text>);
            })
    .Pageable(pager => pager.Input(true).Refresh(true).Numeric(false)
    .PageSizes(new[] { 50, 100, 200 }))
    .Filterable()
    .Scrollable()
    .Events(e => e.DataBound("dataBound"))
    .Resizable(resize => resize.Columns(true))
    .ColumnMenu()
    .Sortable()
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Update"))
    .DataSource(dataSource => dataSource
        .Ajax().ServerOperation(true)
        .PageSize(50)
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read(read => read.Action("Read", "Education"))
        )
)

<script type="text/javascript">
    function viewDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dialog = $("#window").data("kendoWindow");
        dialog.refresh({
            url: "View",
            data: { id: dataItem.id }
        });
        dialog.center().open();
    };

    function updateDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dialog = $("#window").data("kendoWindow");
        dialog.refresh({
            url: "Update",
            data: { id: dataItem.id }
        });
        dialog.center().open();
    };

    function deleteDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var confirmation = confirm("Are you sure you want to delete this data?");
        if (confirmation == true) {
            $.ajax({
                type: "POST",
                url: "Destroy",
                data: { id: dataItem.id },
                success: function (e) {
                    if (e.success) {
                        alert("Data Deleted Successfully");
                        $("#Grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        alert("Error! Can't Delete Data!");
                    }
                }
            });
        }
        else
        {
            return false;
        }
    };

    function onDetailBegin() {
        kendo.ui.progress($("#DetailDiv"), true);
    }

    $(document).ready(function () {


        $("#Add_Education").click(function () {
            var dialog = $("#window").data("kendoWindow");
            dialog.refresh({
                url: "Detail"
            });

            dialog.center();
            dialog.open();
        });
    });

    function dataBound() {
        var grid = $("#Grid").data("kendoGrid");

        var dataSource = grid.dataSource;
        if (this.dataSource.view().length == 0) {
            //insert empty row
            var colspan = this.thead.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'></td></tr>";
            this.tbody.html(emptyRow);
        }

        var state = {
            columns: grid.columns,
            page: dataSource.page(),
            pageSize: dataSource.pageSize(),
            sort: dataSource.sort(),
            filter: dataSource.filter(),
            group: dataSource.group()
        };

        $.ajax({
            url: "~/Education/Index",
            data: {
                data: JSON.stringify(state)
            }
        });
    }

</script>
