﻿@model Pci.CvBuilder.Entity.Education
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("UpdateData", "Education",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Institution</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Institution, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.Institution)
    </div>

    <div class="editor-label">Degree</div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.Degree)
                                .HtmlAttributes(new { style = "width: 200px;" })
                        .BindTo(new List<string>()
                        {
                            "Bachelor Degree",
                            "Master Degree",
                            "Doctor"
                        })
                        .SelectedIndex(0)
        )
    </div>

    <div class="editor-label">Major</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Major, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.Major)
    </div>

    <div class="editor-label">Focus</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Focus, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.Focus)
    </div>

    <div class="editor-label">Start Date</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.StartDate, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.StartDate)
    </div>

    <div class="editor-label">End Date</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EndDate, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.EndDate)
    </div>

    <div class="editor-label">Grade</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Grade, (object)new { autocomplete = "off", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.Grade)
    </div>
    @Html.HiddenFor(model => model.Id)

    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Update" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Update</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#StartDate").kendoDatePicker();
        $("#EndDate").kendoDatePicker();


        $.validator.setDefaults({
            ignore: ""
        });

        $('#DetailForm').validate({
            rules: {
                Institution: {
                    required: true,
                },
                Degree: {
                    required: true
                },
                Major: {
                    required: true,
                },
                StartDate: {
                    required: true,
                },
                EndDate: {
                    required: true
                },
                Grade: {
                    required: true,
                }
            }
        });


        $("#Institution").focusout(function () {
            $('#DetailForm').validate().element("#Institution");
        });
        $("#Degree").focusout(function () {
            $('#DetailForm').validate().element("#Degree");
        });
        $("#Major").focusout(function () {
            $('#DetailForm').validate().element("#Major");
        });
        $("#Focus").focusout(function () {
            $('#DetailForm').validate().element("#Focus");
        });
        $("#StartDate").focusout(function () {
            $('#DetailForm').validate().element("#StartDate");
        });
        $("#EndDate").focusout(function () {
            $('#DetailForm').validate().element("#EndDate");
        });
        $("#Grade").focusout(function () {
            $('#DetailForm').validate().element("#Grade");
        });
    });
    function onDetailBegin() {
        //  $("#DetailDiv").showSpinner(true);
    }

    function onDetailResult(result) {
        if (result.success) {
            alert("Data Updated Successfully.");
            $("#window").data("kendoWindow").close();
            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
        } else {
            alert(result.error);
        }
    }

    function onDetailFailure(error) {

        //  $("#DetailDiv").showSpinner(false);
    }
</script>