﻿@model Pci.CvBuilder.Entity.Education
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("View", "Education",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Intitution</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Institution, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessageFor(model => model.Institution)
    </div>

    <div class="editor-label">Degree</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Degree, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Degree)
    </div>

    <div class="editor-label">Major</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Major, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Major)
    </div>

    <div class="editor-label">Focus</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Focus, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Focus)
    </div>

    <div class="editor-label">Start Date</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.StartDate, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.StartDate)
    </div>

    <div class="editor-label">End Date</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EndDate, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.EndDate)
    </div>

    <div class="editor-label">Grade</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Grade, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Grade)
    </div>
    @Html.HiddenFor(model => model.Id)
}
