﻿@model Pci.CvBuilder.UI.Areas.Common.Models.CvBase
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cv</title>
</head>
<body>
    <text style="font-family:Arial; font-size:20px;">
        <br />
        <br />
        <br />
        @*<img id="logo" src="file:///@Model.LogoImage" width="400" height="60" />*@

        <h2 style="text-align:right; font-size:40px;">Curriculum Vitae </h2>
        <h1>@Model.Name</h1>
        <h2 style='border-bottom:1px solid #808080; width: 200%;'></h2>
        <table width="200%" style='border-bottom:1px solid #808080;font-size:24px;'>
            <h2 style="border-radius: 5px; background-color: lightgrey; width: 200%;">&nbsp;</h2>
            <tr>
                <td valign="top" width="950">
                    <p>E-mail&nbsp;&nbsp;&nbsp;&nbsp;: @Model.Email<p>
                    <p>Phone&nbsp;&nbsp;&nbsp;&nbsp;: @Model.MobilePhone</p>
                    <p>Born&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @Model.PlaceOfBirth , @Model.DateOfBirth</p>
                    <p style="width:700px;">Address&nbsp;&nbsp;: @Model.Address</p>

                </td>
                <td valign="top">
                    <img id="profilePic" src="file:///@Model.Image" width="265" height="360" />
                </td>
            </tr>
        </table>

        <div style="font-size: 23px;">
            @(new HtmlString(@Model.Education))
        </div>
        <div style="font-size: 23px;">
            @(new HtmlString(@Model.Experience))
        </div>
        <div style="font-size: 23px;">
            @(new HtmlString(@Model.Training))
        </div>
        <div style="font-size: 23px;">
            @(new HtmlString(@Model.Skill))
        </div>
    </text>

    <style>
        body {
            height: 297mm;
            width: 210mm;
        }
    </style>
</body>
</html>
