﻿@model Pci.CvBuilder.UI.Areas.Common.Models.CvBase
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate CV</h2>

<embed id="pdfbox" src="@Url.Action("GenerateCvToPdf", "GenerateCv")" width="1100" height="500" />