﻿@model Pci.CvBuilder.Entity.Document
@using Kendo.Mvc.UI

@using (Html.BeginForm("Create", "Document", FormMethod.Post,
                         new { enctype = "multipart/form-data" }))
{

    <div class="editor-label">Document Type</div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.DocumentType)
                                .HtmlAttributes(new { style = "width:200px" })
                        .BindTo(new List<string>()
                        {
                            "Identity Card (KTP)",
                            "Ijazah",
                            "Transcripts",
                            "Certificate"
                        })
                        .SelectedIndex(0)
        )
    </div>

    <div class="editor-label">Document Name</div>
    <div class="editor-field">
                    <br />
                    @ViewBag.Message
                    <br />
                    <input type="file" name="files" id="files" />
                    <div class="demo-hint"><strong>*PDF</strong></div>
    </div>

    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Create" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Save</button>
                </div>
            </td>
        </tr>
    </table>

}

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
