﻿@model Pci.CvBuilder.Entity.Document
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("View", "Document",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Document Type</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.DocumentType, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessageFor(model => model.DocumentType)
    </div>

    <div class="editor-label">Document Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.DocumentName, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.DocumentName)
    </div>
    @Html.HiddenFor(model => model.Id)

    <object data="~/Content/Images/Document/@Model.DocumentName" type="application/pdf" width="550" height="450">
        <embed src="file:///Content/Images/Document/@Model.DocumentName" type="application/pdf" />
    </object>
}
