﻿@model Pci.CvBuilder.UI.Models.ChangesPasswordModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:#43434C">Changes Password</h3>

@using (Html.BeginForm())
{
    <div>
        <center>
            <table border="0" width="800">
                <tr>
                    <td align="left">

                        <div class="editor-label">
                            @Html.LabelFor(m => m.OldPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.OldPassword, (object)new { autocomplete = "off", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.NewPassword, (object)new { autocomplete = "off", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.ConfirmPassword, (object)new { autocomplete = "off", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div>
                            <button type="submit" value="Changes Password" class='k-button k-button-icontext'>Change Password</button>
                        </div>
                    </td>
                </tr>

            </table>
        </center>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Message' != "")
            alert('@ViewBag.Message');
    });

</script>
