﻿@model Pci.CvBuilder.UI.Areas.Common.Models.HomeBase


<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="@Url.Content(" ~ />Content/HomeSite.css")" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>



<div class="home">
    <text @*class="idnName"*@ style="text-align:left">
        <h4 style="background-color: rgba(59, 112, 178, 0.82); width: 20%;border-radius: 5px; height: 5%; color: #fff;">Welcome, @Session["UserName"]</h4>
    </text>
</div>

@if (Convert.ToInt32(Session["UserGroup"]) == 1)
{
    
}
else
{
    <body>

        <div class="row">
            <div id="content">
                <h2 style="border-bottom: 3px solid #1fa3d9;border-radius: 5px; background-color: lightgrey; width: 100%;">@Model.Name</h2>
                <table class="col-md-8">
                    <tr>
                        <td style="padding-left: 10px;"><label>Gender</label></td>
                        <td><label>:</label></td>
                        <td>&nbsp;@Model.Gender</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10px;"><label>Born</label></td>
                        <td><label>:</label></td>
                        <td>&nbsp;@Model.PlaceOfBirth, @Model.DateOfBirth</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10px;"><label>Email</label></td>
                        <td><label>:</label></td>
                        <td>&nbsp;@Model.Email</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10px;"><label>Mobile Phone</label></td>
                        <td><label>:</label></td>
                        <td>&nbsp;@Model.MobilePhone</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 10px;"><label>Address</label></td>
                        <td><label>:</label></td>
                        <td>&nbsp;@Model.Address</td>
                    </tr>



                    <div class="col-md-2">
                        <div id="pictureBox" style="float: right; margin-left:20px; clear: right;">
                            <img id="ProfImage" src="~/Content/Images/ProfilePictures/@Model.Image" alt="" width="175" height="260">
                        </div>
                    </div>
                </table>
            </div>

            <br />
            <br />

            <label style="font-size: 20px; border-radius: 5px;border-bottom: 3px solid #1fa3d9; background-color: lightgrey; width: 100%;">Education</label>
            @if (@Model.Education.Count > 0)
            {
                foreach (var ed in @Model.Education)
                {
                    <table>
                        <tr>
                            <td style="padding-left: 10px;"><label>Institution</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ed.Institution</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Degree</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ed.Degree</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Major</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ed.Major</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Focus</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ed.Focus</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Start Date</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ed.StartDate</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>End Date</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ed.EndDate</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Grade</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ed.Grade</td>
                        </tr>
                    </table>
                    <label style="border-bottom: 3px solid #1fa3d9;width: 100%;"></label>
                }
            }
            else
            {
                <table>
                    <tr>
                        <td style="width: 125px"></td>
                        <td>
                            <div>
                                <button id="SaveButton" type="button" class='btn btn-info' onclick="myFunctionEdu()">Add</button>
                            </div>
                        </td>
                    </tr>
                </table>

            }



            <label style="font-size: 20px; border-radius: 5px;border-bottom: 3px solid #1fa3d9; background-color: lightgrey; width: 100%;">Experience</label>
            @if (@Model.Experience.Count > 0)
            {
                foreach (var ex in @Model.Experience)
                {
                    <table>
                        <tr>
                            <td style="padding-left: 10px;"><label>Company</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ex.Company</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Job title</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ex.JobTitle</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Job Description</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ex.JobDescription</td>
                        </tr>

                        <tr>
                            <td style="padding-left: 10px;"><label>Start Date</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ex.StartDate</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>End Date</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ex.EndDate</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Still Working</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ex.StillWorking</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Salary</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@ex.Salary</td>
                        </tr>
                    </table>
                    <label style="border-bottom: 3px solid #1fa3d9;width: 100%;"></label>
                }
            }
            else
            {
                <table>
                    <tr>
                        <td style="width: 125px"></td>
                        <td>
                            <div>
                                <button id="SaveButton" type="button" class='btn btn-info' onclick="myFunctionExp()">Add</button>
                            </div>
                        </td>
                    </tr>
                </table>

            }

            <label style="font-size: 20px; border-radius: 5px;border-bottom: 3px solid #1fa3d9; background-color: lightgrey; width: 100%;">Training</label>
            @if (@Model.Training.Count > 0)
            {
                foreach (var tr in @Model.Training)
                {
                    <table style="padding-left: 30px;">
                        <tr>
                            <td style="padding-left: 10px;"><label>Program Name</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@tr.ProgramName</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Institution</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@tr.Institution</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Date</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@tr.Date</td>
                        </tr>

                        <tr>
                            <td style="padding-left: 10px;"><label>Certified</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@tr.Certified</td>
                        </tr>
                    </table>
                    <label style="border-bottom: 3px solid #1fa3d9;width: 100%;"></label>
                }
            }
            else
            {
                <table>
                    <tr>
                        <td style="width: 125px"></td>
                        <td>
                            <div>
                                <button id="SaveButton" type="button" class='btn btn-info' onclick="myFunctionTr()">Add</button>
                            </div>
                        </td>
                    </tr>
                </table>
            }

            <label style="font-size: 20px; border-radius: 5px;border-bottom: 3px solid #1fa3d9; background-color: lightgrey; width: 100%;">Skill</label>
            @if (@Model.Skill.Count > 0)
            {
                foreach (var sk in @Model.Skill)
                {
                    <table style="padding-left: 30px;">
                        <tr>
                            <td style="padding-left: 10px;"><label>Skill Name</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@sk.SkillName</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 10px;"><label>Grade</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@sk.Grade</td>
                        </tr>
                    </table>
                    <label style="border-bottom: 3px solid #1fa3d9;width: 100%;"></label>

                }
            }
            else
            {
                <table>
                    <tr>
                        <td style="width: 125px"></td>
                        <td>
                            <div>
                                <button id="SaveButton" type="button" class='btn btn-info' onclick="myFunctionSk()">Add</button>
                            </div>
                        </td>
                    </tr>
                </table>
            }

            <label style="font-size: 20px; border-radius: 5px;border-bottom: 3px solid #1fa3d9; background-color: lightgrey; width: 100%;">Document Upload</label>
            @if (@Model.Document.Count > 0)
            {
                foreach (var doc in @Model.Document)
                {
                    <table>
                        <tr>
                            <td style="padding-left: 10px;"><label>Documment Type</label></td>
                            <td><label>:</label></td>
                            <td>&nbsp;@doc.DocumentType</td>
                        </tr>
                    </table>
                    <label style="border-bottom: 3px solid #1fa3d9;width: 100%;"></label>

                    @*<p><label>Document Name:</label> @doc.DocumentName</p>*@
                    @*<object data="~/Content/Images/Document/@doc.DocumentName" type="application/pdf" width="550" height="450">
                            <embed src="file:///Content/Images/Document/@doc.DocumentName" type="application/pdf" />
                        </object>*@
                }
            }
            else
            {
                <table>
                    <tr>
                        <td style="width: 125px"></td>
                        <td>
                            <div>
                                <button id="SaveButton" type="button" class='btn btn-info' onclick="myFunctionDoc()">Add</button>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>

        <style>
            /*.idnName {
                padding: 5px;
                width: 100%;
                height: auto;
                background-color: #fff;
                position: relative;
                margin-top: 5px;
                opacity: 0.8;
                color: #000;
                border-radius: 5px;
            }*/

            .mySlides {
                display: none;
            }

            #content {
                padding: 5px;
                width: 100%;
                height: auto;
                background-color: #fff;
                position: relative;
                margin-top: 5px;
                /*opacity: 0.8;*/
                color: #000;
                border-radius: 5px;
                /*filter: alpha(opacity=60);*/
            }

            #pictureBox {
                overflow: hidden;
                position: relative;
                border: 1px solid #000000;
            }

            /*.row {
                padding: 5px;
                width: 100%;
                height: auto;
                background-color: #fff;
                position: relative;
                margin-top: 5px;
                opacity: 0.8;
                color: #000;
                border-radius: 5px;
            }*/
        </style>
    </body>

    <script type="text/javascript">
        var myIndex = 0;
        carousel();

        $(function () {
            var fullWidth = 175;
            var fullHeight = 260;
            var thumbnailWidth = 175;
            var thumbnailHeight = 260;

            $('#pictureBox').css({
                'width': thumbnailWidth + 'px',
                'height': thumbnailHeight + 'px'
            });

        });

        function readURL(input) {
            document.getElementById("ProfImage").value = "";
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ProfImage')
                        .attr('src', e.target.result)
                        .width(175)
                    .height(260);
                };
                reader.readAsDataURL(input.files[0]);

                $("#fileName").val(document.getElementById('files').value);

                //window.open("Link Url")
            }
        }

        function myFunctionEdu() {

            window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
            new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
            Url.Content("~/")
        ).ToString(), true));

            var actionUrl = window.applicationBaseUrl + '/Common/Education/';
            window.open(actionUrl, '_self');

        }

        function myFunctionExp() {

            window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
            new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
            Url.Content("~/")
        ).ToString(), true));

            var actionUrl = window.applicationBaseUrl + '/Common/Experience/';
            window.open(actionUrl, '_self');

        }

        function myFunctionTr() {

            window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
            new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
            Url.Content("~/")
        ).ToString(), true));

            var actionUrl = window.applicationBaseUrl + '/Common/Experience/';
            window.open(actionUrl, '_self');

        }

        function myFunctionSk() {

            window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
            new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
            Url.Content("~/")
        ).ToString(), true));

            var actionUrl = window.applicationBaseUrl + '/Common/Skill/';
            window.open(actionUrl, '_self');

        }

        function myFunctionDoc() {

            window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
            new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
            Url.Content("~/")
        ).ToString(), true));

            var actionUrl = window.applicationBaseUrl + '/Common/Document/';
            window.open(actionUrl, '_self');

        }

    </script>
}