﻿@model IEnumerable<Pci.CvBuilder.Entity.User>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="DetailDiv">
</div>
<div id="MainDiv">
    <h2>List Cv</h2>
    @(Html.Kendo().Window()
    .Name("window")
    .Title("List Cv")
    .Modal(true)
    .Width(400)
    .Actions(action => action.Maximize().Close())
    .Visible(false)
    .Draggable(true)
    )

    @(Html.Kendo().Grid(Model)
.Name("Grid")
    .HtmlAttributes(new { Style = "height:460px" })
    .Columns(columns =>
    {
        columns.Bound(p => p.Name).Width(150);
        columns.Bound(p => p.Gender).Width(150);
        columns.Bound(p => p.Email).Width(150);
        columns.Bound(p => p.MobilePhone).Width(150);

        columns.Command(command =>
            {
                command.Custom("viewDetails").Click("viewDetails").Text("View");
            }).Width(150);
    })

.Pageable(pager => pager.Input(true).Refresh(true).Numeric(false)
    .PageSizes(new[] { 50, 100, 200 }))
    .Filterable()
    .Scrollable()
    .Events(e => e.DataBound("dataBound"))
    .ColumnMenu()
    .Sortable()
    .DataSource(dataSource => dataSource
    .Ajax().ServerOperation(true)
    .PageSize(50)
    .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read(read => read.Action("Read", "ListCv"))
        )
    )
</div>

<script type="text/javascript">
    function viewDetails(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.ajax({
            type: "Get",
            cache: false,
            url: '@Url.Action("ViewDetail", "ListCv")',
            data: { id: dataItem.Id },
            success: function (data) {
                $("#DetailDiv").html(data);
                $("#DetailDiv").show();
                $("#MainDiv").hide();
            }
        });
    };

    function dataBound() {
        var grid = $("#Grid").data("kendoGrid");

        var dataSource = grid.dataSource;
        if (this.dataSource.View().length == 0) {
            var colspan = this.thread.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'></td></tr>";
            this.tbody.html(emptyRow);
        }

        var state = {
            columns: grid.columns,
            page: dataSource.page(),
            pageSize: dataSource.pageSize(),
            sort: datasource.sort(),
            filter: datasource.filter(),
            group: dataSource.group()
        };

        $.ajax({
            url: "~/ListCv/Index",
            data: {
                data: JSON.stringify(state)
            }
        });
    }
</script>
