﻿@model Pci.CvBuilder.UI.Areas.Common.Models.CvBase

<button id="DetailBackButton" type="button" onclick="return onDetailCancelButtonClick();" value="Cancel" class='k-button k-button-icontext'><span class='k-icon k-cancel'></span>Back</button>
<br />
<br />

<embed id="pdfbox" src="@Url.Action("GenerateListCVToPDF", "ListCv", new { id = @ViewBag.Message })" width="1100" height="500" />

<script>
    function onDetailCancelButtonClick() {
        $("#DetailDiv").hide();
        $("#MainDiv").show();
    }

</script>