﻿@model Pci.CvBuilder.Entity.PersonalInformation
@using Kendo.Mvc.UI

@using (Ajax.BeginForm("Create", "PersonalInformation",
    new AjaxOptions
    {
        UpdateTargetId = "DetailDiv",
        OnSuccess = "onDetailResult",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailDiv"></div>

    <div class="editor-label">Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Name")
    </div>

    <div class="editor-label">Gender</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Gender, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Gender")
    </div>
    <div class="editor-label">Place Of Birth</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PlaceOfBirth, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("PlaceOfBirth")
    </div>

    <div class="editor-label">Date Of Birth</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.DateOfBirth, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("DateOfBirth")
    </div>

    <div class="editor-label">Address</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Address, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Address")
    </div>

    <div class="editor-label">Mobile Phone</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.MobilePhone, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("MobilePhone")
    </div>

    <div class="editor-label">Email</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Email, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Email")
    </div>
    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Create" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Save</button>
                </div>
            </td>
        </tr>
    </table>
}
