﻿@model Pci.CvBuilder.Entity.User
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="captionForm">Personal Information</h3>
<br />

@using (Html.BeginForm("UpdateData", "PersonalInformation", FormMethod.Post,
    new { id = "DetailForm", enctype = "multipart/form-data" }))
{

    <div class="row">
        <br>
        <div class="col-md-8">
            <div id="DetailDiv"></div>
            <div class="editor-label">Name</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, (object)new { autocomplete = "off", style = "width:300px", @class = "k-textbox" })
                @Html.ValidationMessage("Name")
            </div>

            <div class="editor-label">Gender</div>
            <div class="editor-field">
                @(Html.Kendo()
                        .DropDownListFor(model => model.Gender)
                        .HtmlAttributes(new { style = "width:280px" })
                        .BindTo(new List<string>()
                        {
                            "Female",
                            "Male"
                        })
                        .SelectedIndex(0)
                )
            </div>
            <div class="editor-label">Place Of Birth</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PlaceOfBirth, (object)new { autocomplete = "off", style = "width:300px", @class = "k-textbox" })
                @Html.ValidationMessage("PlaceOfBirth")
            </div>

            <div class="editor-label">Date Of Birth</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DateOfBirth, (object)new { autocomplete = "off", style = "width:280px", @class = "k-textbox" })
                @Html.ValidationMessage("DateOfBirth")
            </div>

            <div class="editor-label">Address</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Address, (object)new { autocomplete = "off", style = "width:300px", @class = "k-textbox" })
                @Html.ValidationMessage("Address")
            </div>

            <div class="editor-label">Mobile Phone</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MobilePhone, (object)new { autocomplete = "off", style = "width:300px", @class = "k-textbox", @type = "number" })
                @Html.ValidationMessage("MobilePhone")
            </div>

            <div class="editor-label">Email</div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email, (object)new { autocomplete = "off", style = "width:300px", @class = "k-textbox" })
                @Html.ValidationMessage("Email")
            </div>

        </div>

        <div class="col-md-2">

            <div id="pictureBox">
                <img id="ProfImage" src="~/Content/Images/ProfilePictures/@Model.Image" alt="" width="175" height="260">
            </div>
            <div class="editor-field">
                <br />
                @ViewBag.Message
                <br />
                <input type="file" name="files" id="files" onchange="readURL(this);" />
                <input type="hidden" name="fileName" id="fileName" />
                @*<div class="demo-hint"><strong>*IMG</strong></div>*@
            </div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.UserGroup)
        </div>
        
    </div>
    <br>
    <br />
    <table>
        <tr>
            <td style="width: 300px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Save" class='k-button k-button-icontext'>Save</button>
                    <button id="CancelButton" type="button" onclick="return onCancel();" value="Cancel" class='k-button k-button-icontext'>Cancel</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">

    $("#DateOfBirth").kendoDatePicker();

    $(function () {
        var fullWidth = 175;
        var fullHeight = 260;
        var thumbnailWidth = 175;
        var thumbnailHeight = 260;

        $('#pictureBox').css({
            'width': thumbnailWidth + 'px',
            'height': thumbnailHeight + 'px'
        });
        
    });

    function readURL(input) {
        document.getElementById("ProfImage").value = "";
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ProfImage')
                    .attr('src', e.target.result)
                    .width(175)
                .height(260);
            };
            reader.readAsDataURL(input.files[0]);

            $("#fileName").val(document.getElementById('files').value);

        }
    }

    function onCancel() {
        window.location.reload();
    }

</script>

<style type="text/css">
    #pictureBox {
        overflow: hidden;
        position: relative;
        border: 1px solid #000000;
    }
</style>