﻿.home {
    background-color: rgba( 25,25,112,0.6 );
    background-size: 20%;
    width: 25%;
    /*height:100%;*/
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
}

.content {
    max-width: 980px;
    margin: auto;
}

.section, .w3-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.animate-right {
    position: relative;
    animation: animateright 0.6s;
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

