﻿@*ampilan <!DOCTYPE html>*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/kendo.common.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/kendo.material.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/kendo.common-material.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/fancytree/skin-win8/ui.fancytree.min.css")" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/console.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/prettify.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fancytree/jquery.fancytree-all.min.js")"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Home/Index"><img src="~/Content/Images/logo praweda2.png" alt=" praweda" width="300"></a>
        </div>
        <div class="nav navbar-nav navbar-right" id="myNavbar" style="background-color: #3e48ff;">
            @Html.Partial("_MenuPartial", new Pci.CvBuilder.UI.Models.MenuAccess())
        </div>
    </nav>
    <br />

    <div id="userName" style="float: right; padding-left: 10px; padding-top: 7px;font-family:Verdana;color:red;font-size:12px;visibility:visible">
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="navbar-fixed-bottom body-content">
        @*container*@
        <footer>
            <p>&copy; @DateTime.Now.Year - PT. Praweda Ciptakarsa Informatika</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<style type="text/css">
    .navbar-inverse {
        border-bottom-color: #fff;
        /*background-image: url('../Content/Images/logo praweda22.jpg');
        font-size: 18px;*/
    }

    /*.navbar-fixed-bottom {
        background-color: #7a7a7a;
        color: white;
    }

    body {
        background: #ffffff url('../Content/Images/background praweda2.jpg');
        background-size: 100% auto;
    }*/
</style>

<script type="text/javascript">

    $(document).ready(function () {

        var user = "";

        user = '@Session["User"]'.toString();

        var timeout = @FormsAuthentication.Timeout.TotalMilliseconds;

        var wintimeout;

        $("#grid tr:even").css("background-color", "#dedede")

        if (user == "") {
            "window.location.href='@FormsAuthentication.LoginUrl';"
        }
        else {
            @*document.getElementById("userName").innerHTML = ' User Name : ' + '@Session["UserName"]' ;*@
        }

        function SetWinTimeout()
        {
            wintimeout = window.setTimeout("window.location.href='@FormsAuthentication.LoginUrl';", timeout);
        }

        function CheckSession()
        {
            if (user == "") {
                window.location.href="@FormsAuthentication.LoginUrl";
            }
        }

        CheckSession();
        SetWinTimeout();

        $('body').click(function() {
            CheckSession();
            window.clearTimeout(wintimeout);
            SetWinTimeout();
        });
    });

</script>

