﻿@model Pci.CvBuilder.Entity.MenuAsssignmentApproval

@using Kendo.Mvc.UI

@using (Html.BeginForm())
{

    <h3 class="captionForm">@ViewBag.header</h3>

    switch ((string)ViewBag.Action)
    {
        case "Create":
        case "Update":
            <text>
                <div>
                    <button id="DetailCreateButton" type="submit" value="Save" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Save</button>
                    <button id="DetailCancelButton" type="button" onclick="return onDetailCancelButtonClick();" value="Cancel" class='k-button k-button-icontext'><span class='k-icon k-cancel'></span>Cancel</button>
                </div>
            </text>
            Html.Hidden("IsReadOnly", false);
            break;
        case "View":
        default:
        <text>
            <div>
                <button id="DetailBackButton" type="button" onclick="return onDetailCancelButtonClick();" value="Cancel" class='k-button k-button-icontext'><span class='k-icon k-cancel'></span>Back</button>
            </div>
        </text>
            Html.Hidden("IsReadOnly", true);
            break;
    }

    @Html.HiddenFor(model => model.Id)
    @Html.Hidden("TreeData");

    <div class="editor-label">@Html.LabelFor(m => m.UserGroup)</div>
    <div class="editor-field">
        @if (ViewBag.Action == "Create")
        {
            @(Html.Kendo().DropDownListFor(model => model.UserGroup)
                    .DataTextField("Description")
                    .DataValueField("Code")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUserGroupForComboBox", "UserGroup");
                        });
                    })
                    .AutoBind(true)
                    .SelectedIndex(-1)
                    .Events(e => e.Change("onUserGroupChange"))
            )
            @Html.HiddenFor(m => m.UserGroupId);
            <input type="hidden" id="MenuAssigment" name="Flag" value="New" />
        }
        else
        {
            @Html.TextBoxFor(model => model.UserGroup.Code,
                (object)new
                {
                    @readonly = "readonly",
                    style = "width : 200px; background-color: #F2F2F2;",
                    maxlength = "50",
                    autocomplete = "off"
                })
            @Html.HiddenFor(m => m.UserGroupId);
            <input type="hidden" id="MenuAssigment" name="Flag" value="Edit" />
        }
        @Html.ValidationMessage("UserGroup")
    </div>

    <div class="editor-label"></div>
    <div id="tree" class="editor-field">
    </div>

    if (ViewBag.Action != "Create")
    {
        
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });

        $('#DetailForm').validate({
            rules: {
                UserGroup: {
                    required: true
                }
            }
        });

        $("#UserGroup").focusout(function () {
            $('#DetailForm').validate().element("#UserGroup");
        });

        $("#tree").fancytree({
            source: {
                //url: "/MenuAssignment/RetrieveCompleteTree/",
                url: '@Url.Action("RetrieveCompleteTree", "MenuAssignment")',
                data: {
                    userGroupId: $("#UserGroupId").val()
                }
            },
            checkbox: true,
            selectMode: 3,
            disabled: $("#IsReadOnly").val()
        });


        $("form").submit(function (e) {
            var flag = $('input#MenuAssigment').val();
            if (flag == "New") {
                var userGroupId = $("#UserGroup").data("kendoDropDownList").value();
                if (userGroupId == "") {
                    alert("User Group Field is Required ")
                }
                else {
                    kendo.ui.progress($("#DetailDiv"), true);
                    var treeData = $("#tree").fancytree("getTree").toDict(true);
                    $("#tree").fancytree("getTree").generateFormElements();
                    $("#TreeData").val(JSON.stringify(treeData));
                    var frm = $("form");
                    var formData = frm.serializeArray();
                    $.ajax({
                        type: frm.attr('method'),
                        url: frm.attr('action'),
                        data: formData,
                        success: function (result) {
                            kendo.ui.progress($("#DetailDiv"), false);
                            if (result.success) {
                                alert("Data Saved Successfully");
                            } else {
                                alert(result.error);
                            }
                            $('#Grid').data('kendoGrid').dataSource.read();
                            $("#DetailDiv").hide();
                            $("#MainDiv").show();
                        },
                        error: function (error) {
                            kendo.ui.progress($("#DetailDiv"), false);
                            alert(error.error);
                        }
                    });

                }
            }
            else {

                kendo.ui.progress($("#DetailDiv"), true);
                var treeData = $("#tree").fancytree("getTree").toDict(true);
                $("#tree").fancytree("getTree").generateFormElements();
                $("#TreeData").val(JSON.stringify(treeData));
                var frm = $("form");
                var formData = frm.serializeArray();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: formData,
                    success: function (result) {
                        kendo.ui.progress($("#DetailDiv"), false);
                        if (result.success) {
                            alert("Data Saved Successfully");
                        } else {
                            alert(result.error);
                        }
                        $('#Grid').data('kendoGrid').dataSource.read();
                        $("#DetailDiv").hide();
                        $("#MainDiv").show();
                    },
                    error: function (error) {
                        kendo.ui.progress($("#DetailDiv"), false);
                        alert(error.error);
                    }
                });
            }
            return false;
        });

    });

    function onDetailCancelButtonClick() {
        $("#DetailDiv").hide();
        $("#MainDiv").show();
    }


</script>







