﻿@model IEnumerable<Pci.CvBuilder.Entity.MenuAsssignmentApproval>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="DetailDiv">
</div>
<div id="MainDiv">
    <h3 class="captionForm">@ViewBag.header</h3>
    @(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.UserGroup.Code).Width(200);
        
        columns.Command(command =>
        {
            command.Custom("Edit").Click("Update_MenuAssignment");
            command.Custom("Delete").Click("Delete_MenuAssignment");
        })
            .Width(250);
    })
    .ToolBar(toolbar =>
            {
                toolbar.Template(
                    @<text>
                        <button id="Add_MenuAssignment" type="button"
                                value="AddMenuAssignment"
                                class='k-button k-button-icontext'>
                            Add
                        </button>
                    </text>);
            })
            .HtmlAttributes(new { style = "height: 460px;" })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable(pager => pager.Input(true).Refresh(true).Numeric(false)
            .PageSizes(new[] { 50, 100, 200 }))
            .Filterable()
            .Scrollable()
            .ColumnMenu()
            .Sortable()
            .Resizable(resize => resize.Columns(true))
            .DataSource(dataSource => dataSource
                .Ajax().ServerOperation(true)
                    .Batch(true)
                    .PageSize(50)
                    .Model(model =>
                    {
                        model.Id(p => p.Id);
                    })
                .Read(read => read.Action("Read", "MenuAssignment"))
            )
    )
</div>

<script type="text/javascript">
    function Update_MenuAssignment(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.ajax({
            type: "Get",
            cache: false,
            url: '@Url.Action("Update", "MenuAssignment")',
            data: { id: dataItem.Id },
            success: function (data) {
                $("#DetailDiv").html(data);
                $("#DetailDiv").show();
                $("#MainDiv").hide();
            }
        });
    };

    function Delete_MenuAssignment(e) {
        e.preventDefault();
        var r = confirm("Are You Sure ?");
        if (r == true) {
            kendo.ui.progress($("#MainDiv"), true);
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $.ajax({
                type: "Post",
                cache: false,
                url: '@Url.Action("Destroy", "MenuAssignment")',
                data: { id: dataItem.Id },
                success: function (data) {
                    kendo.ui.progress($("#MainDiv"), false);
                    $('#Grid').data('kendoGrid').dataSource.read();
                },
                error: function (error) {
                    kendo.ui.progress($("#MainDiv"), false);
                    alert(error.error);
                }
            });
        }
    };

    $(document).ready(function () {

        $("#Add_MenuAssignment").click(function () {
            $.ajax({
                type: "Get",
                cache: false,
                url: '@Url.Action("Create", "MenuAssignment")',
                data: {},
                success: function (data) {
                    $("#DetailDiv").html(data);
                    $("#DetailDiv").show();
                    $("#MainDiv").hide();
                }
            });
        });
    });

    function onUserGroupChange() {
        //var userGroupId = $("#UserGroup").data("kendoComboBox").value();
        var userGroupId = $("#UserGroup").data("kendoDropDownList").value();
        $("#UserGroupId").val(userGroupId);

        var id = userGroupId;
        var newSourceTree = $.post("../MenuAssignment/RetrieveCompleteTree", { "userGroupId": id })
        @*var newSourceTree = {
            //url: "/MenuAssignment/RetrieveCompleteTree/",
            url: '@Url.Action("RetrieveCompleteTree", "MenuAssignment")',
            data: {
                userGroupId: userGroupId
            },
            dataType: "json"
        };*@
        
        var tree = $("#tree").fancytree("getTree");
        tree.reload(newSourceTree);
    }
</script>