﻿@model Pci.CvBuilder.Entity.User
@using Kendo.Mvc.UI

@using (Ajax.BeginForm("Create", "User",
    new AjaxOptions
    {
        UpdateTargetId = "DetailDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailDiv"></div>

    <div class="editor-label">UserId</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserId, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("UserId")
    </div>

    <div class="editor-label">User Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("UserName")
    </div>

    <div class="editor-label">User Group</div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.UserGroup)
                    .DataTextField("Description")
                    .DataValueField("Code")
                    .HtmlAttributes(new { style = "width:200px"})
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUserGroupForComboBox", "UserGroup");
                        });
                    })
                    .AutoBind(true)
        )
    </div>

    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Create" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Save</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });

        $('#DetailForm').validate({
            rules: {
                UserId: {
                    required: true,
                },
                UserName: {
                    required: true
                }
               
            }
        });
        $("#UserId").focusout(function () {
            $('#DetailForm').validate().element("#UserId");
        });
        $("#UserName").focusout(function () {
            $('#DetailForm').validate().element("#UserName");
        });
        $("#UserGroup").focusout(function () {
            $('#DetailForm').validate().element("#UserGroup");
        });
    });

    function onDetailBegin() {
        //  $("#DetailDiv").showSpinner(true);
    }

    function onDetailResult(result) {
        if (result.success) {
            alert("Data Created Successfully");
            $("#window").data("kendoWindow").close();
            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
        }
        else if (result.exist) {
            alert("User Id already exist.")
        }
        else {
            alert(result.error);
        }
    }

    function onDetailFailure(error) {
        //  $("#DetailDiv").showSpinner(false);
    }
</script>