﻿@model IEnumerable<Pci.CvBuilder.Entity.User>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="captionForm">User Maintenance</h3>
@(Html.Kendo().Window()
        .Name("window")
        .Title("User Maintenance")
        .Modal(true)
        .Width(400)
        .Actions(actions => actions.Maximize().Close())
        .Visible(false)
        .Draggable(true)
)
@*<div id="window" class="k-window-titlebar k-header" style="margin-top:-19px; height:30px;"></div>*@


@(Html.Kendo().Grid(Model)
    .Name("Grid")
        .HtmlAttributes(new { Style = "height:460px" })
    .Columns(columns =>
    {
        columns.Bound(p => p.UserId).Width(200);
        columns.Bound(p => p.UserName).Width(200);
        columns.Bound(p => p.UserGroup1.Code).Width(200);

        columns.Command(command =>
        {
            command.Custom("viewDetails").Click("viewDetails").Text("View");
            command.Custom("updateDetails").Click("updateDetails").Text("Edit");
            command.Custom("deleteDetails").Click("deleteDetails").Text("Delete");
        });
    })
    .ToolBar(toolbar =>
            {
                toolbar.Template(
                    @<text>
                        <button id="Add_User" type="button" value="AddUser" class='k-button k-button-icontext'>Add</button>
                    </text>);
            })
    .Pageable(pager => pager.Input(true).Refresh(true).Numeric(false)
    .PageSizes(new[] { 50, 100, 200 }))
    .Filterable()
    .Scrollable()
    .Events(e => e.DataBound("dataBound"))
    .ColumnMenu()
    .Resizable(resize => resize.Columns(true))
    .Sortable()
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Update"))
    .DataSource(dataSource => dataSource
        .Ajax().ServerOperation(true)
        .PageSize(50)
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read(read => read.Action("Read", "User"))
        )
)


<script type="text/javascript">
    function viewDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dialog = $("#window").data("kendoWindow");
        dialog.refresh({
            url: "View",
            data: { id: dataItem.id }
        });
        dialog.center().open();
    };

    function updateDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dialog = $("#window").data("kendoWindow");
        dialog.refresh({
            url: "Update",
            data: { id: dataItem.id }
        });
        dialog.center().open();
    };

    function deleteDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var confirmation = confirm("Are you sure you want to delete this data?");
        if (confirmation == true) {
            $.ajax({
                type: "POST",
                url: "Destroy",
                data: { id: dataItem.id },
                success: function (e) {
                    if (e.success) {
                        alert("Data Deleted Successfully");
                        $("#Grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        alert("Error! Can't Delete Data!");
                    }
                }
            });
        }
        else {
            return false;
        }
    };

    function onDetailBegin() {
        kendo.ui.progress($("#DetailDiv"), true);
    }

    $(document).ready(function () {


        $("#Add_User").click(function () {
            var dialog = $("#window").data("kendoWindow");
            dialog.refresh({
                url: "Detail"
            });

            dialog.center();
            dialog.open();
        });
    });

    function dataBound() {
        var grid = $("#Grid").data("kendoGrid");

        var dataSource = grid.dataSource;
        if (this.dataSource.view().length == 0) {
            //insert empty row
            var colspan = this.thead.find("th").length;
            var emptyRow = "<tr><td colspan='" + colspan + "'></td></tr>";
            this.tbody.html(emptyRow);
        }

        var state = {
            columns: grid.columns,
            page: dataSource.page(),
            pageSize: dataSource.pageSize(),
            sort: dataSource.sort(),
            filter: dataSource.filter(),
            group: dataSource.group()
        };

        $.ajax({
            url: "~/User/Index",
            data: {
                data: JSON.stringify(state)
            }
        });
    }

</script>

<style>

    /*Ganti warna header grid*/
    /*#Grid .k-grid-header .k-header
        {
            background-color:#3f51b5;
        }*/
    /*----------------------------------------*/

    /*Ganti warna toolbar/ button*/
    /*#Grid .k-grid-toolbar .k-button {
          background-color: #3f51b5;
          color: white;
        }*/
    /*----------------------------------------*/

    /*Ganti warna row grid*/
    /*#Grid .k-grid-content > table > tbody > tr {
        background: #a5b6e6;
    }

    #Grid .k-grid-content > table > tbody > .k-alt {
        background: #e6ecf6;
    }*/

    /*#Grid .k-grid table tr.k-state-selected {
        background: #7165dc;
        color: #fff;
    }*/
    /*----------------------------------------*/
</style>
