﻿@model Pci.CvBuilder.Entity.User
@using Kendo.Mvc.UI

@using (Ajax.BeginForm("UpdateData", "User",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">User Id</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserId, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessage("UserId")
    </div>

    <div class="editor-label">User Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName, (object)new { autocomplete = "off", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="editor-label">User Group</div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.UserGroup)
                    .DataTextField("Description")
                    .DataValueField("Code")
                    .HtmlAttributes(new { style = "width:200px" })
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUserGroupForComboBox", "UserGroup");
                        });
                    })
                    .AutoBind(true)
        )
    </div>
    @Html.HiddenFor(model => model.Id)

    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Update" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Update</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });

        $('#DetailForm').validate({
            rules: {
                Code: {
                    required: true
                },
                Description: {
                    required: true
                }
            }
        });


        $("#Code").focusout(function () {
            $('#DetailForm').validate().element("#Code");
        });
        $("#Description").focusout(function () {
            $('#DetailForm').validate().element("#Description");
        });
    });
    function onDetailBegin() {
        //  $("#DetailDiv").showSpinner(true);
    }

    function onDetailResult(result) {
        if (result.success) {
            alert("Data Updated Successfully.");
            $("#window").data("kendoWindow").close();
            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
        }
        else if (result.exist) {
            alert("User Id already exist.")
        } else {
            alert(result.error);
        }
    }

    function onDetailFailure(error) {

        //  $("#DetailDiv").showSpinner(false);
    }
</script>