﻿@model Pci.CvBuilder.Entity.User
@using Kendo.Mvc.UI
@{
    Layout = null;
}
@using (Ajax.BeginForm("View", "User",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">User Id</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserId, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessage("UserId")
    </div>

    <div class="editor-label">User Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="editor-label">User Group</div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.UserGroup)
                    .DataTextField("Description")
                    .DataValueField("Code")
                    .HtmlAttributes(new { style = "width:200px"})
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUserGroupForComboBox", "UserGroup");
                        });
                    })
                    .AutoBind(true)
        )
    </div>
}
