﻿@model Pci.CvBuilder.Entity.UserGroup
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("Create", "UserGroup",
    new AjaxOptions
    {
        UpdateTargetId = "DetailDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailDiv"></div>

    <div class="editor-label">Code</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Code, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Code")
    </div>

    <div class="editor-label">Description</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Description, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Code")
    </div>

    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Create" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Save</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });
       
        $('#DetailForm').validate({
            rules: {
                Code: {
                    required: true,
                },
                Description: {
                    required: true
                }
            }

        });
        $("#Code").focusout(function () {
            $('#DetailForm').validate().element("#Code");
        });
        $("#Description").focusout(function () {
            $('#DetailForm').validate().element("#Description");
        });
    });

    function onDetailBegin() {
        //  $("#DetailDiv").showSpinner(true);
    }

    function onDetailResult(result) {
        if (result.success) {
            alert("Data Created Successfully");
            $("#window").data("kendoWindow").close();
            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
        } else {
            alert(result.error);
        }
    }

    function onDetailFailure(error) {
        //  $("#DetailDiv").showSpinner(false);
    }
</script>

