﻿@model Pci.CvBuilder.Entity.UserGroup
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("UpdateData", "UserGroup",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Code</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Code, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessage("Code")
    </div>

    <div class="editor-label">Description</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Description, (object)new { autocomplete = "off", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    @Html.HiddenFor(model => model.Id)

    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Update" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Update</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });

        $('#DetailForm').validate({
            rules: {
                Code: {
                    required: true
                },
                Description: {
                    required: true
                }
            }
        });


        $("#Code").focusout(function () {
            $('#DetailForm').validate().element("#Code");
        });
        $("#Description").focusout(function () {
            $('#DetailForm').validate().element("#Description");
        });
    });
    function onDetailBegin() {
        //  $("#DetailDiv").showSpinner(true);
    }

    function onDetailResult(result) {
        if (result.success) {
            alert("Data Updated Successfully.");
            $("#window").data("kendoWindow").close();
            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
        } else {
            alert(result.error);
        }
    }

    function onDetailFailure(error) {

        //  $("#DetailDiv").showSpinner(false);
    }
</script>