﻿@model Pci.CvBuilder.Entity.Training
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("UpdateData", "Training",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{

    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Program Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ProgramName, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("ProgramName")
    </div>

    <div class="editor-label">Institution</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Institution, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessage("Institution")
    </div>

    <div class="editor-label">Date</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Date, (object)new { autocomplete = "off", style = "width:200px", @class = "k-textbox" })
        @Html.ValidationMessageFor(model => model.Date)
    </div>

    <div class="editor-label">Certified</div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(model => model.Certified)
                                .HtmlAttributes(new { style = "width:200px" })
                        .BindTo(new List<string>()
                        {
                            "No",
                            "Yes"
                        })
                        .SelectedIndex(0)
        )
    </div>
    @Html.HiddenFor(model => model.Id)

    <table>
        <tr>
            <td style="width: 125px"></td>
            <td>
                <div>
                    <button id="SaveButton" type="submit" value="Update" class='k-button k-button-icontext'><span class='k-icon k-update'></span>Update</button>
                </div>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#Date").kendoDatePicker();

        $.validator.setDefaults({
            ignore: ""
        });

        $('#DetailForm').validate({
            rules: {
                ProgramName: {
                    required: true,
                },
                Institution: {
                    required: true,
                },
                Date: {
                    required: true,
                },
                Certified: {
                    required: true,
                }
            }
        });

        $("#ProgramName").focusout(function () {
            $('#DetailForm').validate().element("#ProgramName");
        });
        $("#Institution").focusout(function () {
            $('#DetailForm').validate().element("#Institution");
        });
        $("#Date").focusout(function () {
            $('#DetailForm').validate().element("#Date");
        });
        $("#Certified").focusout(function () {
            $('#DetailForm').validate().element("#Certified");
        });
    });
        function onDetailBegin() {
            //  $("#DetailDiv").showSpinner(true);
        }

        function onDetailResult(result) {
            if (result.success) {
                alert("Data Update Successfully");
                $("#window").data("kendoWindow").close();
                $('#Grid').data('kendoGrid').dataSource.read();
                $('#Grid').data('kendoGrid').refresh();
            } else {
                alert(result.error);
            }
        }

        function onDetailFailure(error) {
            //  $("#DetailDiv").showSpinner(false);
        }
</script>

