﻿@model Pci.CvBuilder.Entity.Training
@using Kendo.Mvc.UI


@using (Ajax.BeginForm("View", "Training",
    new AjaxOptions
    {
        UpdateTargetId = "DetailUpdateDiv",
        OnBegin = "onDetailBegin",
        OnSuccess = "onDetailResult",
        OnFailure = "onDetailFailure",
        HttpMethod = "Post"
    },
    new { id = "DetailForm" }
    ))
{
    <div id="DetailUpdateDiv"></div>

    <div class="editor-label">Program Name</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ProgramName, (object)new
        {
            @readonly = "readonly",
            style = " background-color: #F2F2F2;",
            autocomplete = "off",
            @class = "k-textbox"
        })
        @Html.ValidationMessageFor(model => model.ProgramName)
    </div>

    <div class="editor-label">Institution</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Institution, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Institution)
    </div>

    <div class="editor-label">Date</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Date, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Date)
    </div>

    <div class="editor-label">Certified</div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Certified, (object)new
            {
                @readonly = "readonly",
                style = " background-color: #F2F2F2;",
                autocomplete = "off",
                @class = "k-textbox"
            })
        @Html.ValidationMessageFor(model => model.Certified)
    </div>
    @Html.HiddenFor(model => model.Id)
}


